<div class="container mt-2">
  <h3 class="text-center" *ngIf="lecture$ | async as lecture">
    {{ lecture.name }}
  </h3>
  <div class="chartContainer" *ngIf="initialized">
    <google-chart
      class="fade-in"
      *ngIf="activities$ | async as activities"
      [title]="'lecture-overview-title' | translate"
      [type]="'LineChart'"
      [data]="activities"
      [columns]="['Date', 'Cards']"
      [options]="chartOptions"
      [dynamicResize]="true"
    >
    </google-chart>

    <google-chart
      class="fade-in"
      *ngIf="contributors$ | async as contributors"
      [title]="'Top Authoren'"
      [type]="'PieChart'"
      [data]="contributors"
      [columns]="['Author', 'Cards']"
      [options]="chartOptions"
      [dynamicResize]="true"
    >
    </google-chart>
  </div>
</div>
