<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Abbruch</h5><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="modal-body">Bist du sicher dass du das Bearbeiten dieser Karte abbrechen willst?</div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Nein, zurück</button><button class="btn btn-danger" id="cancel" type="button">Ja</button></div>
        </div>
    </div>
</div>