.up {
  color: rgb(101, 231, 26);
}
.down {
  color: red;
}

.btn {
  font-size: large;
}
button {
  outline: none;
}
#fav {
  transition: 0.2s;
}
#fav:hover {
  color: #ff5722;
}

.report {
  transition: 0.2s;
}
.report:hover {
  color: rgb(255, 145, 0);
}
.report:hover > mat-icon {
  color: rgb(255, 145, 0)!important;
}

.actions {
  align-items: baseline;
}
