.container {
  max-width: 900px;
  padding: 0;
  margin-bottom: 50px;
}
.alert {
  width: 90%;
  margin: auto;
  margin-bottom: 5px;
}
.row {
  width: 90%;

  margin: auto;
  margin-bottom: 10px;
}
button {
  margin-right: 0;
}
.col-2 {
  padding-right: 0;
}
.col-10 {
  padding-left: 0;
}
#progress {
  position: relative;
}
mat-progress-bar {
  position: absolute;
  top: 0;
}
