<br />
<div class="container">
  <form #form="ngForm" (ngSubmit)="submit(form)" novalidate>
    <div class="form-group">
      <label for="name">Benutzername</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
        maxlength="20"
        aria-describedby="nameHelp"
        #username="ngModel"
        ngModel
      />
      <small class="form-text">Wenigstens 5 Zeichen </small>
    </div>
    <div class="form-group">
      <label for="email">Email Adresse</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        aria-describedby="emailHelp"
        required
        #email="ngModel"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="password">Passwort</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        #password="ngModel"
        ngModel
        minlength="7"
      />
      <small class="form-text">Wenigstens 7 Zeichen </small>
    </div>
    <div class="form-group">
      <label for="password">Passwort wiederholen</label>
      <input
        type="password"
        class="form-control"
        name="password2"
        id="password2"
        #password2="ngModel"
        ngModel
        minlength="7"
        (style)="
          'border-color:'(
            !password2.value || password2.value == password.value
              ? '#000000'
              : '#ff0000'
          )
        "
      />
      <small class="form-text"> </small>
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-lg btn-block"
      [disabled]="isDisabled(username, email, password, password2)"
    >
      Account erstellen
    </button>
  </form>
</div>
