<mat-card class="m-auto">
  <form #form="ngForm" (ngSubmit)="submit(form)" novalidate>
    <mat-form-field appearance="standard" class="w-100">
      <mat-label>Benutzername</mat-label>
      <input
        matInput
        type="text"
        id="username"
        name="username"
        required
        maxlength="20"
        aria-describedby="nameHelp"
        #username="ngModel"
        ngModel
      />
      <mat-hint>Wenigstens 5 Zeichen</mat-hint>
      <mat-error>Dein Nutzername muss mindestens 5 Zeichen enthalten</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" class="w-100">
      <mat-label>Email Adresse</mat-label>
      <input
        matInput
        type="email"
        name="email"
        id="email"
        aria-describedby="emailHelp"
        required
        #email="ngModel"
        ngModel
      />
      <mat-error>Bitte überprüfe deine Email Adresse</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" class="w-100">
      <mat-label>Passwort</mat-label>
      <input
        matInput
        type="password"
        name="password"
        id="password"
        #password="ngModel"
        ngModel
        minlength="7"
      />
      <mat-hint>Wenigstens 7 Zeichen</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard" class="w-100">
      <mat-label>Passwort wiederholen</mat-label>
      <input
        matInput
        type="password"
        name="password2"
        id="password2"
        #password2="ngModel"
        ngModel
        minlength="7"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isDisabled(username, email, password, password2)"
    >
      Account erstellen
    </button>
  </form>
</mat-card>
