<h4 class="mb-3">Vorlesung hinzufügen</h4>

<div id="addLecture" class="">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-group">
      <label for="name">Vorlesungsname</label>
      <input
        class="form-control"
        id="name"
        name="name"
        type="text"
        placeholder="Datenstrukturen und Algorithmen"
        minlength="3"
        required
        #name="ngModel"
        ngModel
      />
      <small
        class="form-text float-right"
        [ngStyle]="setCharIndicatorStyle(name, 500)"
        >{{ getLength(name) }}/500
      </small>
    </div>
    <div class="form-group">
      <label for="abrv">Abkürzung</label>
      <input
        class="form-control"
        id="abrv"
        name="abrv"
        required
        #abrv="ngModel"
        ngModel
        placeholder="Dsal"
      />
      <small
        class="form-text float-right"
        [ngStyle]="setCharIndicatorStyle(abrv, 7)"
        >{{ getLength(abrv) }}/7
      </small>
    </div>
    <input
      class="btn btn-primary mb-2"
      id="addBtn"
      type="submit"
      value="Hinzufügen"
      [disabled]="isDisabled(name, abrv)"
    />
  </form>
</div>
