<div *ngIf="(user$ | async)?.confirmed == false" class="alert alert-info">
  Überprüfe dein Email Postfach, um deinen Account zu bestätigen
</div>
<mat-card *ngIf="user$ | async as user" class="mb-2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img src="assets/profile.svg" alt="Profile picture" />
    </div>
    <mat-card-title *ngIf="user.name">
      {{ user.name }} {{ user.surname }}</mat-card-title
    >
    <mat-card-subtitle>@{{ user.username }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><div class="row w-100">
          <div class="col col-sm-3">Email</div>
          <div class="col col-sm-9">
            {{ user.email }}
          </div>
        </div></mat-list-item
      >
      <mat-list-item role="listitem" *ngIf="user.name"
        ><div class="row w-100">
          <div class="col col-sm-3">Vorname</div>
          <div class="col col-sm-9">
            {{ user.name }}
          </div>
        </div></mat-list-item
      >
      <mat-list-item role="listitem" *ngIf="user.surname">
        <div class="row w-100">
          <div class="col col-sm-3">Nachname</div>
          <div class="col col-sm-9">
            {{ user.surname }}
          </div>
        </div></mat-list-item
      >
      <mat-list-item role="listitem" *ngIf="user.creationDate">
        <div class="row w-100">
          <div class="col col-sm-3">Mitglied seit</div>
          <div class="col col-sm-9">
            {{ user.creationDate | date: "longDate":"de" }}
          </div>
        </div></mat-list-item
      ><ng-container *ngIf="cardCount$ | async as count">
        <mat-list-item role="listitem" *ngIf="count > 0">
          <div class="row w-100">
            <div class="col col-sm-3">Anzahl hinzugefügter Karten</div>
            <div class="col col-sm-9">
              {{ count }}
            </div>
          </div></mat-list-item
        ></ng-container
      >
    </mat-list>
  </mat-card-content>
</mat-card>
