<div class="card" *ngIf="user$ | async as user">
  <div class="card-body">
    <h2 class="card-title">
      <img src="assets/profile.svg" alt="Profile picture" /> {{ user.username }}
    </h2>
    <div *ngIf="user.confirmed == false">Check your email inbox to confirm your account</div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-6">
          Email
        </div>
        <div class="col-6 text-right">
          {{ user.email }}
        </div>
      </div>
    </li>
    <li *ngIf="user.name" class="list-group-item">
      <div class="row">
        <div class="col-6">
          Vorname
        </div>
        <div class="col-6 text-right">
          {{ user.name }}
        </div>
      </div>
    </li>
    <li *ngIf="user.surname" class="list-group-item">
      <div class="row">
        <div class="col-6">
          Nachname
        </div>
        <div class="col-6 text-right">
          {{ user.surname }}
        </div>
      </div>
    </li>
    <li *ngIf="user.creationDate" class="list-group-item">
      <div class="row">
        <div class="col-6">
          Mitglied seit
        </div>
        <div class="col-6 text-right">
          {{ user.creationDate | date: "longDate":"de" }}
        </div>
      </div>
    </li>
  </ul>
</div>
