<div id="addCard" [ngStyle]="setStyle()">
    <form novalidate>
        <h4>Karteikarte hinzufügen</h4>
        <div class="form-group">
            <label for="thema">Thema</label>
            <input [(ngModel)]="newCard.thema" class="form-control" id="thema" name="thema" type="text" placeholder="Thema" />
        </div>
        <div class="form-group">
            <label for="content">Informationen</label>
            <textarea [(ngModel)]="newCard.content" class="form-control" id="content" name="content" rows="5"></textarea>
        </div>
        <app-add-card-button></app-add-card-button>
    </form>
</div>
