node_modules
.env
.envm
.envl
coverage
.DS_Store
combined.log
error.log
debug.log
yarn.lock
.nyc_output
globalConfig.json
src/coverage
dist

extracted/
scripts/
gis-data.zip
potential-area.zip
common.zip
optimal-positioning.zip
conda_env.yml
