<div class="card" id="`{{ card._id }}`">
  <div class="card-header">
    {{ card.thema }}
  </div>

  <mat-expansion-panel #answer>
    <mat-expansion-panel-header>
      <mat-panel-title> Antwort</mat-panel-title>
    </mat-expansion-panel-header>

    <pre lang="de">
        <div  [innerHtml]="parsed[0] | safeHtml"></div>
    </pre>
  </mat-expansion-panel>
  <p *ngIf="card.authorName" class="card-text" id="author">
    <small class="text-muted float-right"
      >Ersteller: {{ card.authorName }}</small
    >
  </p>
</div>
