h4,
form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 900px;
}
mat-error {
  color: red !important;
}
.content-wrapper {
  padding: 0 1em;
  margin-top: 0.2rem;
}

.content-hint {
  font-size: 75%;
}
.ql-toolbar {
  border-radius: 5px 5px 0 0;
}
.ql-container {
  border-radius: 0 0 5px 5px;
}
