<div
  *ngIf="this.pageOffset > 50"
  [@fadeInOnEnter]
  [@fadeOutOnLeave]
  class="btn-div"
>
  <button
    id="up"
    mat-fab
    color="primary"
    (click)="backToTop()"
    aria-label="Example icon button with a delete icon"
  >
    <div class="fas fa-arrow-up"></div>
  </button>
</div>

<footer class="footer">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">
      <a routerLink="/about"> Über uns </a>
    </li>
    <li class="list-group-item">
      <a routerLink="/about" fragment="FAQ"> FAQ </a>
    </li>
    <li class="list-group-item">
      <a href="https://git.rwth-aachen.de/card/cards" target="_blank">GitLab</a>
    </li>
  </ul>
</footer>
