<div
  *ngIf="this.pageOffset > 50"
  [@fadeInOnEnter]
  [@fadeOutOnLeave]
  class="btn-div"
>
  <button
    mat-mini-fab
    (click)="backToTop()"
    color="primary"
    aria-label="Example icon button with a delete icon"
  >
    <span class="material-icons">
      arrow_upward
    </span>
  </button>
</div>

<footer class="footer">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">
      <a routerLink="/about"> About </a>
    </li>
    <li class="list-group-item">
      <a routerLink="/about" fragment="FAQ"> FAQ </a>
    </li>
    <li class="list-group-item">
      <a href="https://git.rwth-aachen.de/jungerjunge2/cards" target="_blank"
        >GitLab</a
      >
    </li>
    <li class="list-group-item">
      v.0.2
    </li>
  </ul>
</footer>
