<div class="card" id="`{{ card._id }}`">
  <div class="card-header">
    {{ card.thema }}
  </div>
  <div class="card-body">
    <button
      mdbBtn
      color="primary"
      class="btn btn-light"
      type="button"
      (click)="test.toggle()"
      mdbWavesEffect
    >
      Mehr dazu
      <i class="fas fa-caret-down"></i>
    </button>
    <div class="" mdbCollapse #test>
      <pre lang="de">
        <ng-katex-paragraph paragraph={{card.content}}></ng-katex-paragraph>
      </pre>
    </div>
  </div>
</div>
