<mat-nav-list class="p-0">
  <div>
    <a mat-list-item color="primary" class="{{ isActive('/') }}" routerLink="/" aria-label="Zurück zur Startseite"
      ><mat-icon>home</mat-icon> {{ 'lectures' | translate }}</a
    >
    <ng-container *ngIf="!(loggedIn$ | async)">
      <a mat-list-item mat-ripple class=" {{ isActive('/login') }}" routerLink="/login" aria-label="Login Seite"
        ><mat-icon>person</mat-icon>{{ 'sign-in' | translate }}</a
      >

      <a mat-list-item class="{{ isActive('/signup') }}" routerLink="/signup" aria-label="Neuen Account registrieren"
        ><mat-icon>add_box</mat-icon> {{ 'sign-up' | translate }}</a
      >
    </ng-container>
    <ng-container *ngIf="loggedIn$ | async">
      <div mat-subheader><mat-icon>person</mat-icon>{{ 'account.title' | translate }}</div>

      <a
        mat-list-item
        routerLink="/account/overview"
        class=" {{ isActive('/account/overview') }}"
        aria-label="Profilübersicht"
      >
        <mat-icon>account_box</mat-icon> {{ 'account.overview' | translate }}</a
      >

      <a mat-list-item routerLink="/account/cards" class=" {{ isActive('/account/cards') }}" aria-label="Meine Karten">
        <mat-icon>style</mat-icon> {{ 'account.cards' | translate }}</a
      >
    </ng-container>
    <div mat-subheader><mat-icon>info</mat-icon>{{ 'about-us' | translate }}</div>
    <a
      mat-list-item
      routerLink="/about"
      [fragment]="'info'"
      class=" {{ isActive('/about#info') }}"
      aria-label="Mehr informationen zur Webseite"
    >
      <mat-icon>contacts</mat-icon> {{ 'info' | translate }}
    </a>
    <a
      mat-list-item
      routerLink="/about"
      [fragment]="'FAQ'"
      class=" {{ isActive('/about#FAQ') }}"
      aria-label="Häufig gestellte Fragen"
    >
      <mat-icon>question_answer</mat-icon> {{ 'faq' | translate }}
    </a>

    <div mat-subheader><mat-icon>visibility</mat-icon>{{ 'appearance-menu.appearance' | translate }}</div>

    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [formControl]="theme">
      <mat-radio-button mat-list-item class="example-radio-button" value="light-theme">
        <mat-icon>wb_sunny</mat-icon>{{ 'appearance-menu.light' | translate }}
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="dark-theme">
        <mat-icon>brightness_2</mat-icon>{{ 'appearance-menu.dark' | translate }}
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="default">
        <mat-icon>web_asset</mat-icon>{{ 'appearance-menu.browser-settings' | translate }}
      </mat-radio-button>
    </mat-radio-group>

    <div mat-subheader><mat-icon>translate</mat-icon> {{ 'appearance-menu.language' | translate }}</div>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [formControl]="lang">
      <mat-radio-button mat-list-item class="example-radio-button" value="en">
        <div class="d-flex justify-content-between">
          <img class="img-fluid mr-2" src="assets/united-states.svg" alt="U.S. flag" /> English
        </div>
        <span class="attribution_text"
          ><div>
            Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </div></span
        >
      </mat-radio-button>
      <mat-radio-button class="example-radio-button w-100" value="de">
        <div class="d-flex justify-content-between w-100">
          <img class="img-fluid mr-2" src="assets/germany.svg" alt="German flag" />Deutsch
        </div>
        <span class="attribution_text"
          ><div>
            Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </div></span
        ></mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div class="bottom">
    <a mat-list-item (click)="logout()" class="mb-0" id="logout" *ngIf="loggedIn$ | async" aria-label="Ausloggen">
      <mat-icon>exit_to_app</mat-icon> {{ 'logout' | translate }}
    </a>
  </div>
</mat-nav-list>
