@import "~@angular/material/theming";
a {
  outline: none;
}
.active {
  color: #4a148c;
  background-color: rgba(230, 230, 230, 0.411);
}
mat-icon {
  margin-right: 3px;
}
#logout {
  margin-top: auto;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}
mat-nav-list {
  height: 100%;
  position: relative;
}
button {
  outline: none;
}
img {
  height: 1.2em;
  margin: auto;
}
.attribution_text {
  display: none;
}
