@import "~@angular/material/theming";
a {
  outline: none;
}
.active {
  color: #4a148c;
  background-color: rgba(230, 230, 230, 0.411);
}
mat-icon {
  margin-right: 3px;
}

.bottom {
  position: fixed;
  bottom: 0;
}
mat-nav-list {
  height: inherit;
}
