<mat-nav-list class="p-0 default-theme">
  <a mat-list-item color="primary" class="{{ isActive('/') }}" routerLink="/"
    ><mat-icon>home</mat-icon> Vorlesungen</a
  >

  <a
    mat-list-item
    mat-ripple
    *ngIf="(loggedIn$ | async) == false"
    class=" {{ isActive('/login') }}"
    routerLink="/login"
    ><mat-icon>person</mat-icon>Login</a
  >

  <a
    mat-list-item
    *ngIf="(loggedIn$ | async) == false"
    class="{{ isActive('/signup') }}"
    routerLink="/signup"
    ><mat-icon>add_box</mat-icon> Registrieren</a
  >
  <div *ngIf="loggedIn$ | async">
    <div mat-subheader>Account</div>

    <a
      mat-list-item
      routerLink="/account/overview"
      class=" {{ isActive('/account/overview') }}"
    >
      <mat-icon>account_box</mat-icon> Übersicht</a
    >
    <a
      mat-list-item
      routerLink="/account/cards"
      class=" {{ isActive('/account/cards') }}"
    >
      <mat-icon>style</mat-icon> Meine Karten</a
    >
  </div>
  <div mat-subheader>Über uns</div>
  <a mat-list-item routerLink="/about" class=" {{ isActive('/about') }}">
    <mat-icon>contacts</mat-icon> Infos
  </a>
  <mat-divider></mat-divider>

  <a
    mat-list-item
    (click)="logout()"
    class="mb-0"
    id="logout"
    *ngIf="loggedIn$ | async"
  >
    <mat-icon>exit_to_app</mat-icon> Logout
  </a>
</mat-nav-list>
