/*first row controls*/
#controls {
  width: 90%;
  margin: auto;
}
button {
  outline: none;
}

/*carousel*/
#carousel {
  width: 100% !important;
}
mdb-carousel-item.carousel-item {
  padding: 0;
}

.navig {
  color: black;
  display: inline-flex;
  align-items: center;
  width: 5%;
  position: absolute;
  padding: 0;
}
#right {
  right: 0;
  height: 100%;
  z-index: 1000;
}
#left {
  left: 0;
  height: 100%;
  z-index: 1000;
}
span {
  text-align: center;
  width: 100%;
}

.row {
  position: relative;
  max-width: 900px;
  margin: 0;
}
app-card {
  width: 90%;
  margin: 0 auto 0 auto;
}
