<div class="row no-gutters" id="controls">
  <div class="col-md-9 col-xs-12 p-1 mb-2">
    <app-filter-tags></app-filter-tags>
  </div>
  <div class="col-md-3 col-xs-12 mb-2 text-right" id="bntcol">
    <div class="btn-group" *ngIf="cards" id="btnDiv" role="group">
      <button
        mat-icon-button
        placement="top"
        matTooltip="Zufall"
        matTooltipPosition="above"
        (click)="showRandomCard()"
        [disabled]="formMode == 'edit' || !cards || cards.length == 0"
      >
        <mat-icon>shuffle</mat-icon>
      </button>

      <button
        mat-icon-button
        type="button"
        [disabled]="isDisabled()"
        (click)="enableEdit()"
        matTooltip="Bearbeiten"
        matTooltipPosition="above"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        [color]="checkLatexState()"
        id="toggleLatex"
        type="button"
        (click)="toggleLatex()"
        matTooltip="Latex"
        matTooltipPosition="above"
        [disabled]="isDisabled()"
      >
        <mat-icon>functions</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="cards" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <a
    id="left"
    class="navig col"
    *ngIf="cardCount > 1"
    [@fadeInOnEnter]
    (click)="goToPrev()"
  >
    <span class="fas fa-chevron-left"></span>
  </a>
  <div id="carousel">
    <mdb-carousel
      (activeSlideChange)="onSlide($event)"
      #mycarousel
      [(activeSlideIndex)]="this.activeSlide"
      [animation]="'slide'"
      [isControls]="false"
      [allowSwipe]="false"
      [interval]="'0'"
    >
      <mdb-carousel-item
        class="py-3"
        *ngFor="let card of cards; index as i"
        [id]="i.toString()"
      >
        <app-card [@shake]="notallowed" [card]="card" [index]="i"></app-card>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <a
    id="right"
    class="navig col"
    *ngIf="cardCount > 1"
    [@fadeInOnEnter]
    (click)="goToNext()"
  >
    <span class="fas fa-chevron-right"></span>
  </a>
</div>
<div class="row" *ngIf="cards && cards.length === 0">
  <p class="text-muted text-center w-100 mt-2">Keine Karten gefunden</p>
</div>
