<app-lecture-header></app-lecture-header>
<div id="spinner" *ngIf="loading" class="row">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="btn-group" id="btnDiv" role="group">
  <button
    class="btn btn-light"
    id="rand"
    placement="top"
    matTooltip="Zufall"
    matTooltipPosition="above"
    (click)="showRandomCard()"
    [disabled]="formMode == 'edit' || !cards || cards.length == 0"
  >
    <div class="fas fa-random"></div>
  </button>
  <button
    class="btn btn-light"
    id="editCard"
    type="button"
    [disabled]="isDisabled()"
    (click)="enableEdit()"
    matTooltip="Bearbeiten"
    matTooltipPosition="above"
  >
    <div class="fas fa-pen"></div>
  </button>

  <button
    [ngClass]="setClass()"
    id="toggleAdd"
    type="button"
    data-toggle="button"
    (click)="toggleAddView()"
    [matTooltip]="formMode == 'add' ? 'Verstecken' : 'Hinzufügen'"
    matTooltipPosition="above"
    [disabled]="formMode == 'edit'"
  >
    <div [class]="formMode == 'add' ? 'fas fa-minus' : 'fas fa-plus'"></div>
  </button>
</div>
<div class="row" *ngIf="cards && cards.length > 0" [@fadeInOnEnter]>
  <a id="left" class="navig col" *ngIf="cards.length > 0" (click)="goToPrev()">
    <span class="fas fa-chevron-left"></span>
  </a>
  <div id="carousel" (swipeleft)="goToPrev()" (swiperight)="goToNext()">
    <mdb-carousel
      (activeSlideChange)="onSlide($event)"
      #mycarousel
      [activeSlideIndex]="0"
      [animation]="'slide'"
      [isControls]="false"
      [allowSwipe]="true"
      [interval]="'0'"
    >
      <mdb-carousel-item
        *ngFor="let card of cards; index as i"
        [id]="i.toString()"
      >
        <app-card [@shake]="notallowed" [card]="card" [index]="i"></app-card>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <a id="right" class="navig col" *ngIf="cards.length > 0" (click)="goToNext()">
    <span class="fas fa-chevron-right"></span>
  </a>
</div>
