#spinner {
  position: absolute;
  width: 100%;
}
.spinner-border {
  margin-right: auto;
  margin-left: auto;
}

#btnDiv {
  position: relative;
  display: block;
  width: 90%;
  text-align: right;
  margin: auto;
  margin-bottom: 10px;
}
#carousel {
  width: 100%;
}
.carousel-item {
  min-height: 150px;
}

.navig {
  color: black;
  display: inline-flex;
  align-items: center;
  width: 5%;
  position: absolute;
  padding: 0;
}
#right {
  right: 0;
  height: 100%;
  z-index: 1000;
}
#left {
  left: 0;
  height: 100%;
  z-index: 1000;
}
span {
  text-align: center;
  width: 100%;
}

.row {
  position: relative;
  max-width: 900px;
  margin: 0;
}
app-card {
  width: 90%;
  margin: auto;
}
