<div class="container mt-3" [@slideInUpOnEnter] *ngIf="lectures$ | async as lectures">
  <div *ngIf="authorized$ | async; else elseBlock" class="row">
    <div>
      <div class="col-md-6 col-xs-12 mb-2">
        <app-lectures [lectures]="lectures"></app-lectures>
      </div>
      <div class="col-md-6 col-xs-12">
        <app-add-lecture-form></app-add-lecture-form>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <app-lectures [lectures]="lectures"></app-lectures>
  </ng-template>
</div>
