<div id="addCard">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <h4>Karteikarte hinzufügen</h4>
    <mat-form-field appearance="standard" class="w-100">
      <mat-label>Frage</mat-label>
      <input
        matInput
        id="thema"
        name="thema"
        type="text"
        placeholder="Thema"
        minlength="3"
        required
        #thema="ngModel"
        ngModel
      />
    </mat-form-field>
    <mat-form-field appearance="standard" class="w-100">
      <mat-label>Antwort</mat-label>
      <textarea
        id="content"
        name="content"
        rows="5"
        required
        #content="ngModel"
        ngModel
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard" class="w-100">
      <mat-label>Tags</mat-label>
      <input
        matInput
        id="tags"
        name="tags"
        type="text"
        placeholder="#kapitel1"
        minlength="3"
        #tags="ngModel"
        ngModel
      />
    </mat-form-field>

    <input
      mat-flat-button
      color="primary"
      id="addBtn"
      type="submit"
      value="Hinzufügen"
      [disabled]="isDisabled(content, thema)"
    />
  </form>
</div>
