<div id="addCard">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <h4>Karteikarte hinzufügen</h4>
    <div class="form-group">
      <label for="thema">Frage</label>
      <input
        class="form-control"
        id="thema"
        name="thema"
        type="text"
        placeholder="Thema"
        minlength="3"
        required
        #thema="ngModel"
        ngModel
        (focus)="inField()"
        (blur)="resetNav()"
      />
      <small
        class="form-text float-right"
        [ngStyle]="setThemaCharIndicatorStyle(thema)"
        >{{ getLength(thema) }}/60
      </small>
    </div>
    <div class="form-group">
      <label for="content">Antwort</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        rows="5"
        required
        #content="ngModel"
        ngModel
        (focus)="inField()"
        (blur)="resetNav()"
      ></textarea>
      <small
        class="form-text float-right"
        [ngStyle]="setContentCharIndicatorStyle(content)"
        >{{ getLength(content) }}/400
      </small>
    </div>
    <div class="form-group">
      <label for="thema">Tags</label>
      <input
        class="form-control"
        id="tags"
        name="tags"
        type="text"
        placeholder="#kapitel1"
        minlength="3"
        #tags="ngModel"
        ngModel
        (focus)="inField()"
        (blur)="resetNav()"
      />
      <small class="form-text text-muted">Trenne Tags mit einem # </small>
    </div>
    <input
      class="btn btn-primary mb-2"
      id="addBtn"
      type="submit"
      value="Hinzufügen"
      [disabled]="isDisabled(content, thema)"
    />
  </form>
</div>
