<mat-card class="p-0 my-4 shadow" id="`{{ card._id }}`">
  <div class="d-flex justify-content-between">
    <mat-card-title> {{ card.thema }} </mat-card-title>
    <button
      *ngIf="!isDisabled() && auth$ | async"
      mat-icon-button
      type="button"
      class="mx-1"
      aria-label="bearbeiten"
      (click)="enableEdit()"
      matTooltip="{{ 'card-carousel.edit' | translate }}"
      matTooltipPosition="above"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <mat-expansion-panel #answer class="mat-elevation-z0 p-0">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ 'answer' | translate }}</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <hr class="mx-3 mt-0" />
      <pre class="mb-1" [innerHtml]="this.card.content | safeHtml"></pre>
      <card-actions [id]="card._id" [tags]="card.tags"></card-actions>
    </ng-template>
  </mat-expansion-panel>
  <p *ngIf="card.authorName" class="card-text">
    <small class="text-muted float-right">{{ 'author' | translate }}: {{ card.authorName }}</small>
  </p>
</mat-card>
