<h2>Profilbild ändern</h2>
<div class="row">
  <div class="col-sm-4 col-xs-12">
    <img src="assets/profile.svg" alt="Profile picture" />
  </div>
  <div class="col-sm-8 col-xs-12">
    <div class="input-group">
      <div class="custom-file">
        <form (change)="handleFileInput($event.target.files)">
          <input
            type="file"
            class="custom-file-input"
            id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01"
          />
        </form>
        <label class="custom-file-label" for="inputGroupFile01"
          >Choose file</label
        >
      </div>
    </div>
    <small class="form-text">Die maximale Größe ist 200KB </small>
  </div>
</div>

<hr />
<h2>Accountdaten ändern</h2>
<form #form="ngForm" (ngSubmit)="changeAccount(form)" novalidate>
  <div class="form-group">
    <label for="name">Vorname</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      aria-describedby="nameHelp"
      #name="ngModel"
      [(ngModel)]="user.name"
    />
  </div>
  <div class="form-group">
    <label for="surname">Nachname</label>
    <input
      type="text"
      class="form-control"
      name="surname"
      id="surname"
      aria-describedby="surnameHelp"
      #surname="ngModel"
      [(ngModel)]="user.surname"
    />
  </div>
  <div class="form-group">
    <label for="username">Benutzername</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      required
      maxlength="20"
      aria-describedby="nameHelp"
      #username="ngModel"
      [(ngModel)]="user.username"
    />
    <small class="form-text">Wenigstens 5 Zeichen </small>
  </div>
  <div class="form-group">
    <label for="email">Email Adresse</label>
    <input
      type="email"
      class="form-control"
      name="email"
      id="email"
      aria-describedby="emailHelp"
      required
      #email="ngModel"
      [(ngModel)]="user.email"
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!validate(form)">
    Aktualisieren
  </button>
</form>

<hr />
<h2>Passwort ändern</h2>
<form #pwform="ngForm" (ngSubmit)="changePassword(pwform)" novalidate>
  <div class="form-group">
    <label for="password">Neues Passwort</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="password"
      #password="ngModel"
      ngModel
      minlength="7"
    />
    <small class="form-text">Wenigstens 7 Zeichen </small>
  </div>
  <div class="form-group">
    <label for="password2">Neues Passwort wiederholen</label>
    <input
      type="password"
      class="form-control"
      name="password2"
      id="password2"
      #password2="ngModel"
      ngModel
      minlength="7"
      [style]="setStyle(password, password2)"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!match(password.value, password2.value)"
  >
    Ändern
  </button>
</form>
