.row {
  width: 100%;
}
nav {
  position: relative;
}

#progress {
  position: relative;
}
mat-progress-bar {
  position: absolute;
  top: 0;
}
.alert {
  width: 90%;
  margin: auto;
  margin-top: 5px;
}
