<nav class="navbar navbar-light bg-light">
  <div class="row">
    <div class="col-6" id="col">
      <button
        id="toggle"
        class="align-middle"
        mat-button
        (click)="drawerToggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div *ngIf="cards" class="col-6 float-right" id="searchbar">
      <app-search-bar></app-search-bar>
    </div>
  </div>
</nav>
<div id="progress">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
