.row {
  width: 100%;
}
nav {
  position: relative;
}

#progress {
  position: relative;
}
mat-progress-bar {
  position: absolute;
  top: 0;
}
.alert {
  width: 90%;
  margin: auto;
  margin-top: 5px;
}
#searchbar {
  padding: 0;
  top: 1px;
  right: 5px;
  text-align: right;
  position: absolute;
}
