<nav class="navbar navbar-expand-lg navbar-light bg-light" role="alert" style="padding-right:0;">
    <div class="row">
        <div class="col-8"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="navbar-nav" id="navlist">
                    <li class="nav-item"><a class="nav-link" href="/" tabindex="1">Kategorie w&auml;hlen</a></li>
                </ul>
            </div>
        </div>
        <div class="col-4" style="padding-right:0;">
            <app-search-bar></app-search-bar>
        </div>
    </div>
</nav>