<div class="container">
  <h2 #TOP>{{ 'about.cards.title' | translate }}</h2>

  <p>
    {{ 'about.cards.text' | translate }}
  </p>
  <p *ngIf="!loggedIn">
    <a routerLink="/signup">{{ 'about.cards.create-account-link-text' | translate }}</a
    >{{ 'about.cards.create-account' | translate }}
  </p>
  <h4>{{ 'about.sharing-is-caring.title' | translate }}</h4>
  <p>
    {{ 'about.sharing-is-caring.text-one' | translate }} <br />
    {{ 'about.sharing-is-caring.text-two' | translate }}
  </p>
  <h4>{{ 'about.feedback.title' | translate }}</h4>
  <p>
    {{ 'about.feedback.text-one' | translate }}
    <a href="https://github.com/StudyGrow/Cards/issues" rel="noopener" target="_blank">{{
      'about.feedback.text-two' | translate
    }}</a>
    {{ 'about.feedback.text-three' | translate }}
    <a href="mailto:info@studydrive.me"> email </a> {{ 'about.feedback.text-four' | translate }}
  </p>

  <h3 id="FAQ" #FAQ>FAQ</h3>
  <h4>{{ 'about.where-find-cards.title' | translate }}</h4>
  <p>
    {{ 'about.where-find-cards.text-one' | translate }}
    <a routerLink="/">{{ 'about.where-find-cards.text-two' | translate }}</a>
    {{ 'about.where-find-cards.text-three' | translate }}
    <span *ngIf="!loggedIn">
      {{ 'about.where-find-cards.text-four' | translate }}
      <a routerLink="/login">{{ 'about.where-find-cards.text-five' | translate }}</a>
      {{ 'about.where-find-cards.text-six' | translate }}
      <a routerLink="/signup"> {{ 'about.where-find-cards.text-seven' | translate }}</a
      >.
    </span>
    <br />
    {{ 'about.where-find-cards.text-eight' | translate }}<br />
    {{ 'about.where-find-cards.text-nine' | translate }}
  </p>
  <h4>{{ 'about.no-lecture-present.title' | translate }}</h4>
  <p>
    {{ 'about.no-lecture-present.text-one' | translate }}
    <span *ngIf="!loggedIn">
      {{ 'about.no-lecture-present.text-two' | translate }}
      <a routerLink="/login">{{ 'about.no-lecture-present.text-three' | translate }}</a>
      {{ 'about.no-lecture-present.text-four' | translate }}
      <a routerLink="/signup"> {{ 'about.no-lecture-present.text-five' | translate }}</a
      >.
    </span>
    <br />
    {{ 'about.no-lecture-present.text-six' | translate }}
  </p>
  <h4>{{ 'about.how-to-create-card.title' | translate }}</h4>
  <p>
    {{ 'about.how-to-create-card.text-one' | translate }}
    <a routerLink="/">{{ 'about.how-to-create-card.text-two' | translate }}</a>
    {{ 'about.how-to-create-card.text-three' | translate }} <br />
    {{ 'about.how-to-create-card.text-four' | translate }}
    <span *ngIf="!loggedIn">
      {{ 'about.how-to-create-card.text-five' | translate }}
      <a routerLink="/signup"> {{ 'about.how-to-create-card.text-six' | translate }}</a
      >{{ 'about.how-to-create-card.text-seven' | translate
      }}<a routerLink="/login">{{ 'about.how-to-create-card.text-eight' | translate }}</a
      >{{ 'about.how-to-create-card.text-nine' | translate }}
    </span>
    {{ 'about.how-to-create-card.text-ten' | translate }}
    <a href="https://en.wikibooks.org/wiki/LaTeX/Mathematics" rel="noopener">{{
      'about.how-to-create-card.text-eleven' | translate
    }}</a
    >.
  </p>

  <h4>{{ 'about.how-to-edit-card.title' | translate }}</h4>
  <p>
    {{ 'about.how-to-edit-card.text-one' | translate }}
  </p>

  <h4>{{ 'about.how-to-use-latex.title' | translate }}</h4>
  <p>
    {{ 'about.how-to-use-latex.text-one' | translate }}
    <a href="https://en.wikibooks.org/wiki/LaTeX/Mathematics" rel="noopener">{{
      'about.how-to-use-latex.text-two' | translate
    }}</a
    >.
  </p>
  <hr />
  <h3>Authors</h3>
  <ul>
    <li>
      <strong>Erdzan Rastoder</strong> -
      <a href="https://github.com/erdzan12" target="_blank" rel="noopener noreferrer">Github</a>
    </li>
    <li>
      <strong>Ben Lakhoune</strong> -
      <a href="https://github.com/lakhoune" target="_blank" rel="noopener noreferrer">Github</a> -
      <a href="http://lakhoune.com" target="_blank" rel="noopener noreferrer">Website</a>
    </li>
  </ul>
</div>
