<div id="addCard">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <h4>Karteikarte bearbeiten</h4>
    <div class="form-group">
      <label for="thema">Frage</label>
      <input
        class="form-control"
        id="thema"
        name="thema"
        type="text"
        placeholder="Thema"
        minlength="3"
        required
        #thema="ngModel"
        [(ngModel)]="cardCopy.thema"
        (focus)="inField()"
        (blur)="resetNav()"
      />
      <small
        class="form-text float-right"
        [ngStyle]="setThemaCharIndicatorStyle(thema)"
        >{{ getLength(thema) }}/60
      </small>
    </div>
    <div class="form-group">
      <label for="content">Antwort</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        rows="5"
        required
        #content="ngModel"
        [(ngModel)]="cardCopy.content"
        (focus)="inField()"
        (blur)="resetNav()"
      ></textarea>
      <small
        class="form-text float-right"
        [ngStyle]="setContentCharIndicatorStyle(content)"
        >{{ getLength(content) }}/400
      </small>
    </div>
    <div class="form-group">
      <input
        class="btn btn-success mb-2 mr-1"
        type="submit"
        value="Sichern"
        [disabled]="isDisabled(content, thema)"
      />
      <input
        class="btn btn-danger mb-2"
        type="button"
        value="Abbruch"
        (click)="cancelEdit()"
      />
    </div>
  </form>
</div>
