#matches {
  z-index: 1000;
  position: absolute;
  top: 40px;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sugg {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
}
::ng-deep .mat-list,
.mat-subheader {
  width: 200px;
}

button {
  padding: 0;
  width: 2px;
  box-sizing: border-box;
  text-align: right;
}
form {
  font-size: 15px;
}
