<mat-form-field>
  <input
    autocomplete="off"
    matInput
    [(ngModel)]="uInput"
    [ngModelOptions]="{ standalone: true }"
    (input)="findMatches($event)"
    id="search"
    type="search"
    placeholder="Frage"
    (focus)="inField()"
    (blur)="resetNav()"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<div *ngIf="uInput" id="matches" class="shadow">
  <ul class="list list-group list-group-flush">
    <a
      id="match"
      href="#"
      *ngFor="let suggestion of suggestions"
      (click)="navigateTo($event, suggestion.index)"
      class="list-group-item list-group-item-action p-3"
      >{{ suggestion.title }}</a
    >
  </ul>
</div>
