<mat-form-field>
  <input
    autocomplete="off"
    matInput
    [(ngModel)]="uInput"
    [ngModelOptions]="{ standalone: true }"
    (input)="findMatches($event)"
    id="search"
    type="search"
    placeholder="Frage"
    (focus)="inField()"
    (blur)="resetNav()"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<div
  *ngIf="uInput && (suggestions.length > 0 || allSuggestions.length > 0)"
  id="matches"
  class="shadow w-100"
>
  <mat-list>
    <div
      *ngIf="suggestions.length > 0 && allSuggestions.length > 0"
      mat-subheader
    >
      Aktuell angezeigt
    </div>
    <mat-list-item *ngFor="let suggestion of suggestions">
      <a
        href="#"
        mat-list-item
        (click)="navigateTo($event, suggestion.index, false)"
        class="sugg"
        (mouseover)="beginScroll(paragraph)" (mouseleave)="endScroll(paragraph)"
        ><div #paragraph>{{ suggestion.title }}</div></a
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <div *ngIf="allSuggestions.length > 0" mat-subheader>Alle Karten</div>
    <mat-list-item *ngFor="let suggestion of allSuggestions">
      <a
        href="#"
        mat-list-item
        (click)="navigateTo($event, suggestion.index, true)"
        class="sugg"
        >{{ suggestion.title }}</a
      >
    </mat-list-item>
  </mat-list>
</div>
<button class= "but"></button>
