<div class="carousel slide" id="carouselExampleControls" data-ride="carousel" data-interval="false">
    <div class="carousel-inner" id="carouselInner">
        <div class="carousel-item active">
            <div class="card">
                <div class="card-header">
                  Featured 1
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>  
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="card-header">
                  Featured 2
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>  
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
