<h1 id="vorlesung">{{ title }}</h1>
<div class="btn-group" id="btnDiv" role="group">
  <button
    class="btn btn-light"
    id="rand"
    placement="top"
    ngbTooltip="Zufall"
    (click)="showRandomCard()"
    [disabled]="formMode == 'edit' || !cards || cards.length == 0"
  >
    <div class="fas fa-random"></div>
  </button>
  <button
    class="btn btn-light"
    id="editCard"
    type="button"
    placement="top"
    [disabled]="isDisabled()"
    (click)="enableEdit()"
    ngbTooltip="Bearbeiten"
  >
    <div class="fas fa-pen"></div>
  </button>

  <button
    [ngClass]="setClass()"
    id="toggleAdd"
    type="button"
    data-toggle="button"
    (click)="toggleAddView()"
    placement="top"
    [ngbTooltip]="formMode == 'add' ? 'Verstecken' : 'Hinzufügen'"
    [disabled]="formMode == 'edit'"
  >
    <div [class]="formMode == 'add' ? 'fas fa-minus' : 'fas fa-plus'"></div>
  </button>
</div>
<div *ngIf="cards && cards.length > 0" class="row">
  <a *ngIf="cards.length > 0" (click)="goToPrev()">
    <span class="fas fa-chevron-left"></span>
  </a>
  <div id="carousel" (swipeleft)="goToPrev()" (swiperight)="goToNext()">
    <mdb-carousel
      (activeSlideChange)="onSlide($event)"
      #mycarousel
      [(activeSlideIndex)]="activeSlide"
      [animation]="'slide'"
      [isControls]="false"
      [allowSwipe]="true"
      [interval]="'0'"
      ><ng-container *ngFor="let card of cards; index as i">
        <mdb-carousel-item [id]="i.toString()">
          <app-card [card]="card"></app-card>
        </mdb-carousel-item>
      </ng-container>
    </mdb-carousel>
  </div>
  <a *ngIf="cards.length > 0" (click)="goToNext()">
    <span class="fas fa-chevron-right"></span>
  </a>
</div>
