<div class="carousel slide" id="carouselExampleControls" data-ride="carousel" data-interval="false">
  <div class="carousel-inner"  id="carouselInner">
    <app-card></app-card>
  </div>
  <a href="#carouselExampleControls" role="button" data-slide="prev"  class="carousel-control-prev" (click)="previousSlide()">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a href="#carouselExampleControls" role="button" data-slide="next"  class="carousel-control-next" (click)="nextSlide()">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
