.container {
  padding: 0;
}
#btnDiv {
  display: block;
  width: 90%;
  text-align: right;
  margin: auto;
  margin-bottom: 10px;
}
#carouselExampleControls {
  margin-top: 10px;
  margin-bottom: 10px;
}
.carousel-item {
  min-height: 100px;
}

.carousel-control-prev {
  width: 5%;
}

.carousel-control-next {
  width: 5%;
}
.fa-chevron-left,
.fa-chevron-right {
  color: black;
}
