<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" (closedStart)="closing()">
    <app-nav-list></app-nav-list>
  </mat-drawer>
  <mat-drawer-content fixedBottomGap="true" #mainContent cdkScrollable>
    <router-outlet></router-outlet>
    <br />
    <div *ngIf="show$ | async" id="up">
      <button id="btn" mat-fab color="primary" (click)="backToTop()">
        <mat-icon matSuffix>arrow_upward</mat-icon>
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
