$full-height: 100vh;
$nav-height: $full-height * 0.068;

.example-container {
  height: inherit;
}
app-nav-list {
  height: inherit;
}
#spacer {
  height: $nav-height * 1.2 !important;
  background-color: green;
}
#up {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 15px;
  margin: 0;
}
#btn {
  outline: none;
}
