.example-container {
  height: 90%;
}
mat-drawer-content {
  padding: 15px;
  background-color: white;
}
mat-drawer {
  min-width: 200px;
}
#up {
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  right: 10px;
  margin: 0;
}
#btn {
  outline: none;
}
