<mat-tab-group
  [selectedIndex]="selectedTab$ | async"
  mat-align-tabs="center"
  (selectedIndexChange)="setActiveTab($event)"
>
  <mat-tab [disabled]="this.formMode == 'edit'" label="Karteikarten">
    <div class="container my-1" id="carousel-container">
      <app-carousel></app-carousel>
    </div>
  </mat-tab>
  <mat-tab *ngIf="authorized$ | async" [label]="formMode === 'edit' ? 'Bearbeiten' : 'Hinzufügen'"
    ><div class="container py-1">
      <app-form></app-form></div
  ></mat-tab>
  <mat-tab [disabled]="this.formMode == 'edit'" label="Übersicht">
    <app-lecture-overview *ngIf="(selectedTab$ | async) == 2"></app-lecture-overview>
  </mat-tab>
</mat-tab-group>
