<mat-tab-group
  [selectedIndex]="(selectedTab$ | async) || 1"
  mat-align-tabs="center"
  (selectedIndexChange)="setActiveTab($event)"
>
  <mat-tab label="Übersicht">
    <h3 class="text-center mt-2" *ngIf="lecture$ | async as lecture">
      {{ lecture.name }}
    </h3>
  </mat-tab>
  <mat-tab label="Karteikarten">
    <div>
      <app-carousel></app-carousel>
    </div>
  </mat-tab>
  <mat-tab [label]="formMode === 'edit' ? 'Bearbeiten' : 'Hinzufügen'"
    ><app-form></app-form
  ></mat-tab>
</mat-tab-group>
