<h2>{{ 'profile.manage.change-data' | translate }}</h2>
<form #form="ngForm" (ngSubmit)="changeAccount(form)" novalidate>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>{{ 'firstname' | translate }}</mat-label>
    <input
      matInput
      type="text"
      name="name"
      id="name"
      aria-describedby="nameHelp"
      #name="ngModel"
      [(ngModel)]="user.name"
    />
  </mat-form-field>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>{{ 'lastname' | translate }}</mat-label>
    <input
      matInput
      type="text"
      name="surname"
      id="surname"
      aria-describedby="surnameHelp"
      #surname="ngModel"
      [(ngModel)]="user.surname"
    />
  </mat-form-field>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>{{ 'profile.manage.username' | translate }}</mat-label>
    <input
      matInput
      type="text"
      id="username"
      name="username"
      required
      maxlength="20"
      aria-describedby="nameHelp"
      #username="ngModel"
      [(ngModel)]="user.username"
    />

    <mat-hint>{{ 'profile.manage.username-hint' | translate }}</mat-hint>
  </mat-form-field>
  <!-- <mat-form-field appearance="standard" class="w-100">
    <mat-label>{{ 'email' | translate }}</mat-label>
    <input
      matInput
      type="email"
      name="email"
      id="email"
      aria-describedby="emailHelp"
      required
      #email="ngModel"
      [(ngModel)]="user.email"
    />
  </mat-form-field> -->

  <button type="submit" mat-flat-button color="primary" [disabled]="!validate(form)">
    {{ 'btn.update' | translate }}
  </button>
</form>

<hr />
<h2>{{ 'profile.manage.change-password' | translate }}</h2>
<form #pwform="ngForm" (ngSubmit)="changePassword(pwform)" novalidate class="mb-2">
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>{{ 'profile.manage.new-password' | translate }}</mat-label>
    <input matInput type="password" name="password" id="password" #password="ngModel" ngModel minlength="7" />

    <mat-hint>{{ 'profile.manage.password-hint' | translate }}</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>{{ 'profile.manage.new-password-repeat' | translate }}</mat-label>
    <input matInput type="password" name="password2" id="password2" #password2="ngModel" ngModel minlength="7" />
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary" [disabled]="!match(password.value, password2.value)">
    {{ 'btn.update' | translate }}
  </button>
</form>
<h2>{{ 'profile.manage.delete-account' | translate }}</h2>
<button mat-flat-button color="warn" (click)="delete()">{{ 'btn.delete' | translate }}</button>
