<div class="d-flex justify-content-between mx-2">
  <mat-chip-list>
    <mat-chip [disableRipple]="true" class="mx-1" *ngFor="let tag of tags">{{ tag }}</mat-chip>
  </mat-chip-list>

  <div class="d-flex justify-content-end align-items-center" role="group">
    <div>Likes: {{ this.voteCount }}</div>
    <button
      *ngIf="loggedIn$ | async"
      type="button"
      id="fav"
      [color]="this.vote?.value === 1 ? 'warn' : ''"
      mat-icon-button
      matTooltip="{{ 'like' | translate }}"
      matTooltipPosition="above"
      (click)="toggleVote()"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      type="button"
      matTooltip="{{ 'card-actions.share' | translate }}"
      mat-icon-button
      matTooltipPosition="above"
      (click)="shareCard()"
    >
      <mat-icon>share</mat-icon>
    </button>
    <button
      *ngIf="loggedIn$ | async"
      class="mr-1 mt-1 report"
      id="more"
      mat-icon-button
      type="button"
      (click)="reportCard()"
    >
      <mat-icon [matTooltip]="'card-actions.report' | translate" matTooltipPosition="above">flag</mat-icon>
    </button>
  </div>
</div>
