<div class="row">
  <div class="col-md-4 col-xs-12" id="navigation">
    <div class="list-group">
      <a
        class="list-group-item list-group-item-action"
        routerLinkActive="active"
        routerLink="overview"
      >
        Übersicht
      </a>
      <a
        class="list-group-item list-group-item-action"
        routerLinkActive="active"
        routerLink="manage"
      >
        Profildaten ändern
      </a>
      <a
        *ngIf="cardCount > 0"
        class="list-group-item list-group-item-action"
        routerLink="cards"
        routerLinkActive="active"
      >
        Karteikarten
      </a>
    </div>
  </div>

  <div class="col-md-8 col-xs-12" id="sub">
    <router-outlet></router-outlet>
  </div>
</div>
